html, body {
    height: 100%;
}

body {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.tsoding-title {
    padding-bottom: 15px;
    font-kerning: normal;
    font-family: 'Cantarell', sans-serif;
    font-size: 80px;
}

.schedule {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.tsoding-box {
    display: table-cell;
    vertical-align: middle;
}

.tsoding-link {
    padding-right: 10px;
    font-kerning: normal;
    font-family: 'Cantarell', sans-serif;
    font-size: 20px;
}
