html, body {
    height: 100%;
}

body {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #181818;
    color: #e4e4ef;
}

.tsoding-title {
    font-family: 'Cantarell', sans-serif;
    font-size: 80px;
}

.tsoding-box {
    display: table-cell;
    vertical-align: middle;
}

a {
    font-kerning: normal;
    font-family: 'Cantarell', sans-serif;
    font-size: 25px;
    color: #73c936;
    text-decoration: none;
}

.tsoding-links {
    margin-top: 0px;
    margin-right: 25px;
}

.tsoding-social-link {
    margin-right: 0px;
    width: 32px;
    height: 32px;
}