html, body {
    height: 100%;
}

body {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #181818;
    color: #e4e4ef;
}


.tsoding-box {
    display: table-cell;
    vertical-align: middle;
}

.tsoding-box h1 {
    font-family: 'Cantarell', sans-serif;
    font-size: 80px;
    margin-bottom: 5px;
}

.tsoding-box h2 {
    font-family: 'Cantarell', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

a {
    font-kerning: normal;
    font-family: 'Cantarell', sans-serif;
    font-size: 25px;
    color: #73c936;
    text-decoration: none;
}

.tsoding-links {
    margin-right: 25px;
    margin-bottom: 30px
}

.tsoding-icon-link-first {
    margin-left: 10px
}

.tsoding-icon-link {
    width: 32px;
    margin-right: 10px;
}

.tsoding-text-link-first {
    margin-left: 20px;
}

.tsoding-text-link {
    margin-right: 20px;
    font-size: 25px;
}
